{
    "daemonize" : true,
    "ssh_poll_time" : 20,
    "bluecherry_address" : "platform.bluecherry.io",
    "ssh_path" : "/usr/bin/ssh",
    "ssh_keygen_path" : "/usr/bin/ssh-keygen",
    "loglevel" : "ERROR",
    "logfile" : "syslog",
    "pid_file" : "/var/run/dpt-connector.pid",
    "identity_file" : "/tmp/bluecherry_id",
    "ipc_path" : "/var/run/dpt-connector.ipc"
}
