#
# Copyright (C) 2014-2015, Daan Pape <daan@dptechnics.com>
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without 
# modification, are permitted provided that the following conditions are met:
# 
#     1. Redistributions of source code must retain the above copyright 
#        notice, this list of conditions and the following disclaimer.
#
#     2. Redistributions in binary form must reproduce the above copyright 
#        notice, this list of conditions and the following disclaimer in the 
#        documentation and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE 
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE 
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE 
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR 
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF 
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS 
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN 
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) 
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE 
# POSSIBILITY OF SUCH DAMAGE.
#
# Default configuration of the dpt-breakout-server
#

# If you want the breakout-server to run
# on the foreground, change the daemon flag
# to false.
daemon	true

# By default the breakout server will listen 
# on port 80, you can change this behaviour
# here by selecting an other port. 
listen_port	9999

# This path points to the SQLite3 database
# used by the breakout server. Remove the ';'
# to change the location. 
;database	/etc/dptechnics.db

# Network settings in seconds. If you dont
# know what they mean, it's best to keep
# the defaults.
;keep_alive_time	20
;network_timeout	30
;ubus_timeout		1000

# The file to serve in a folder when no
# file was explicitly requested. 
;index_file	index.html

# The root file directory of the server.
;document_root	/www

# The prefix that preceeds any api request 
# you can change this to anything you want
# by default this is '/api'. Note the preceeding
# slash is neaccesary. 
;api_prefix	/api

# The URL where the breakout server must
# search for new firmware verions. 
;public_firmware_uri	http://firmware.dptechnics.com/dptv1/versions.json

# The filepath to which the firmware must
# be downloaded.
;firmware_download_path	/tmp/firmware_upgrade.bin

# The filename of the downloaded firmware file
;firmware_file_name	firmware_upgrade.bin
